{% extends 'base.html' %}
{% load static %}
{% block title %}
Password Reset Successful
{% endblock %}


{% block content %}
<div class="container">
    <div class="password_reset_done">
      <h1>Check your inbox!</h1>
      <p>We've emailed you instructions for setting your password.
        <br />You should receive the email shortly!</p>
      <div class="happy">
        <img src="{% static 'images/happy.jpeg'%}" alt="Happy smiley dog golden retriever" />
      </div>
      <a href="{% url 'login' %}" class="btn btn-success mt-3 mb-4">Login Now</a>
    </div>
</div>
{% endblock %}