/*================== Base Section ==================*/
.icon{
    height:50px;
}
.footer{
    margin-top: 30px;
}

.shopping_cart{
    color: black;
}

.footer{
    background-color:rgb(224,162,0);
    padding: 1rem;
}

.c3{
    max-width: 85vw;
    text-align: center;
}

/*Social Media Icon Css*/
.fab{
    font-size: 30px;
    padding-right: 1rem;
    color: rgb(128,132,131);
}

.foot{
    font-family: 'Sriracha', cursive;
    font-size: larger;
}

/*Facebook Hover Color*/
.fa-facebook:hover{
    color: #3B5998;
    font-size: 35px;
}

.fa-linkedin-in:hover{
    color:#04669A;
    font-size: 35px;
}

.fa-github:hover{
    color: #040204;
    font-size: 35px;
}

.fa-instagram:hover{
   color:#2C6A93; 
   font-size: 35px;
}

.fa-twitter:hover{
    color: #00B6F1;
    font-size: 35px;
}

.fa-pinterest:hover{
    color: #C91517;
    font-size: 35px;
}


/*================== Index Section ==================*/
/*.c1{*/
/*    max-height:70vh;*/
/*}*/
.carousel-item img {
  margin:0 auto;
  max-height: 85vh;
}

.index_txt{
    background: rgba(211,211,211,0.3);
    border-radius:15px 50px;
    padding: 1.5rem;
}

/*================== Create Product Section ==================*/
.c2{
    max-width:85vw;
    background-image:url(/static/images/add_honey.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding: 70px;
    border-radius: 2rem;
    margin-bottom: 50px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

/*Form Header Section*/
.productname, .productprice, .productstock, .productCategory, .productimage{
    font-size: 25px;
    font-family: 'DM Serif Text', serif;
    font-weight: bold;
    margin-bottom: 2rem;
}

/*Form Label Section*/
#div_id_name label{
    font-size: 25px;
    font-family: 'DM Serif Text', serif;
    font-weight: bold;
}

.submit{
    font-size: 30px;
    font-family: 'DM Serif Text', serif;
    border-radius: 20px;
    padding: 10px 35px;
}

.submit:hover{
    background-color:rgb(80,183,103);
    border-color:rgb(80,183,103);
}


/*================== Checkout Success Section ==================*/
.checkout_success{
    text-align: center;
}

.checkout_success img{
    height: 200px;
}