{% extends 'base.html' %}
{% load static %}
{% block title %}
Checkout
{% endblock %}

{% block content %}

<h1>Confirm your purchases</h1>
<br>
<div>
  <table>
    <th>
      Item
    </th>
    <th>
      Quantity
    </th>
    <th>
      Price
    </th>
    
    
    {{shopping_cart}}
    {% for i,v in shopping_cart.items%}
    <tr>
      <td>
        {{v.name}}
      </td>
      <td>
        {{v.quantity }}
      </td>
      <td>
        ${{v.price}} 
      </td>
    </tr>
    {% endfor %}
    <tr class="borderTop">
      <th>
        Total cost:
      </th>
      <td>
      </td>
      <td>
        ${{v.total_cost}}
      </td>
    </tr>
  </table>
</div>
<br>
<a class='btn btn-warning mb-3 mt-3' href="" id="paymentButton">Proceed to Payment</a>

{% endblock %}