{% extends 'base.html' %}
{% load static %}
{% block title %}
Your Profile
{% endblock %}

{% block content %}
<div class="container">
    <div class="pageheader">Profile Page</div>
    <div class="profile">
        <span>Welcome</span> <span class="username">{{user}}</span>
        <p>Your email: {{ user.email }}</p>
    
        <p>Forgotten your password?</p>
        <a href="{% url 'password_reset' %}" class="btn btn-success"><i class="fas fa-sync-alt"></i> RESET PASSWORD</a>
        <a href="{% url 'password_change' %}" class="btn btn-warning"><i class="fas fa-pencil-alt"></i> CHANGE PASSWORD</a>
    </div>
</div>
{% endblock %}