{% extends 'base.html' %}
{% load static %}
{% block title %}
Create Product
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<!--{{ form.media }}-->

<div class="container c2">
    <div class="pageheader">
        Create New Honey Product
    </div>
    
    <!--Back Button Section-->
    <a href="{% url "show_products" %}">
        <div class="bk-btn">
            <div class="bk-btn-triangle"></div>
            <div class="bk-btn-bar"></div>
        </div>
    </a><br>  
    
    
    <!--Form Section-->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
    </form>  
</div>

{% endblock %}