{% extends 'base.html' %}
{% load static %}
{% block title %}
Edit Product
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
{{ form.media }}
<div class="container">
    
    <div class="pageheader">
        Edit Honey Product
    </div>
    
    <!--Back Button Section-->
    <a href="{% url "show_products" %}">
        <div class="bk-btn">
            <div class="bk-btn-triangle"></div>
            <div class="bk-btn-bar"></div>
        </div>
    </a><br>  
    
    
    
    <form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input type='submit'/>
    </form>  
</div>
  
{% endblock %}