{% extends 'base.html' %}
{% load static %}
{% block title %}
Products
{% endblock %}

{% block content %}
    <h1>Our Products</h1>
    <ul>
        {% for product in catalog %}
        <li>
            <!--Product Cateogry-->
            Cateogry: {{ product.Category.name }} |
            
            <!--Product Information-->
            {{product.name}} x {{product.stock}}
            
            {%if product.image %}
                <img src="{{product.image.cdn_url}}"/>
            {%endif%}
            
            
            <!--Edit Button-->
            <a href='{% url "edit_product" id=product.id %}'>Edit</a>
            
            <!--Delete Button-->
            <a href='{% url "delete_product" id=product.id %}'>Delete</a> 
        </li>
        {% endfor %}
        
        <br>
        <a href="{% url "create_product" %}"><button>Add Product</button></a>
    </ul>
{% endblock %}