{% extends 'base.html' %}
{% load static %}
{% block title %}
Products
{% endblock %}

{% block content %}
    <h1>Our Products</h1>
    <ul>
        {% for product in catalog %}
        <li>
            <!--Product Cateogry-->
            Cateogry: {{ product.Category.name }} |
            
            <!--Product Information-->
            {{product.name}} x {{product.stock}}
            
            {%if product.image %}
                <img src="{{product.image.cdn_url}}"/>
            {%endif%}
            
            
            <!--Edit Button-->
            <a href='{% url "edit_product" id=product.id %}'>Edit</a>
            
            <!--Delete Button-->
            <!--<a href='{% url "delete_product" id=product.id %}'>Delete</a> -->
            
            <a data-toggle="modal" data-target=".bd-4-modal-md" title="Delete wine information">
                <button id="delete" class="btn btn-danger m-2 p-2">Delete</button>
            </a>
            <div class="modal fade bd-4-modal-md" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span>Are you sure you want to delete <span>{{product.name}}</span>?</span>
                            <button type="button" id="closex" data-dismiss="modal">Close &times;</button>
                        </div>
                        <div class="modal-body">
                            <a class="btn btn-warning" href="{% url "show_products" %}">NO</a>
                            <a class='btn btn-danger' href="{% url "delete_product" id=product.id %}">YES</a>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
        </li>
        {% endfor %}
        
        
        
        <br>
        <a href="{% url "create_product" %}"><button>Add Product</button></a>
    </ul>
{% endblock %}