{% extends 'base.html' %}
{% load static %}
{% block title %}
Products
{% endblock %}

{% block content %}
<!--Page Title-->
<div class="pageheader"><img src="{% static 'images/Banner.png'%}"> Honey Products</div> <br>



<div class="container">
    
    <!--Add new product Section-->
    {% if user.is_authenticated and user.is_superuser %}
    <a href="{% url "create_product" %}" class="btn"><button>Add Product</button></a>
    {%endif%}
    
    <div class="row">
        {% for product in catalog %}
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                
                <div class="brand" align="center">
                    {{product.Category.name}}
                </div>
                
                <div class="imgHolder" align="center">
                    <a href="">
                        <img class="img-fluid" src="{{product.image.cdn_url}}-/resize/300x400/-/quality/lightest/">
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Brand: {{product.name}}</h5>
                    <h5 class="card-title mb-0">Price: {{product.price}}</h5>
                    
                    {% if user.is_authenticated and user.is_superuser %}
                    <div class="card-text text-black-70">Quantity: {{product.stock}}</div>
                    {%endif%}
                    
                    <!--Add to Cart Section-->
                    <a class="btn btn-info" href="{% url "add_to_cart" id=product.id %}">Add to Cart</a>
            
                    <div id="accordion">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{forloop.counter}}">
                                    Honey description<i class="fas fa-sort-down"></i>
                                  </button>
                                </h5>
                          </div>

                          <div id="collapse{{forloop.counter}}" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                  {{product.description}}
                                  <div class="findOut pt-3">
                                      <a class="btn btn-success" href="">Find Out More</a>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                    
            {% if user.is_authenticated and user.is_superuser %}
            <!--Edit Button-->
            <a href='{% url "edit_product" id=product.id %}' class="btn btn-success m-2 p-2">&nbsp;&nbsp;Edit&nbsp;&nbsp;</a>
            
            <!--Delete Button-->
            <!--<a href='{% url "delete_product" id=product.id %}'>Delete</a> -->
            
            <a data-toggle="modal" data-target=".bd-4-modal-md" title="Delete wine information">
                <button id="delete" class="btn btn-danger m-2 p-2">Delete</button>
            </a>
            <div class="modal fade bd-4-modal-md" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span>Are you sure you want to delete <span>{{product.name}}</span>?</span>
                            <button type="button" id="closex" data-dismiss="modal">Close &times;</button>
                        </div>
                        <div class="modal-body">
                            <a class="btn btn-warning" href="{% url "show_products" %}">NO</a>
                            <a class='btn btn-danger' href="{% url "delete_product" id=product.id %}">YES</a>
                        </div>
                    </div>
                </div>
            </div>
            {%endif%}
                    
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    <!-- /.row -->
</div>
    
    

{% endblock %}