{% extends 'base.html' %}
{% load static %}
{% block title %}
View Cart
{% endblock %}

{% block content %}

{% if request.user.username %}
<div class="CartTitle pageheader">{{request.user.username}}'s Cart</div>
{% endif %}

<div class="container">
    <section>
    
    <!--Display when cart is empty-->
    {%for i in shopping_cart.items %} 
    {% empty %}
    <div class="empty_cart">
        <h3>Your Cart is empty :(</h3>
        <img src="{% static 'images/emptycart.png'%}" id="empty" alt="Empty Cart" /> 
    </div>
    {% endfor %}
    
    
    <!--Medium screen and above-->
    <div class="row d-none d-md-block">
        <table class="cart table">
          <thread>
            <tr>
              <th class="col">Image</th>
              <th class="col">Honey Brand</th>
              <th class="col">Quantity</th>
              <th class="col">Price</th>
              <th class="col">Subtotal</th>
              <th class="col"></th>
            </tr>
          </thread>
          <!--Display all the informations-->
          {%for id, honey in shopping_cart.items %}
          <tbody>
            <tr>
              <td class="honey img"><a href=""><img src="{{honey.image_url}}-/resize/100x150/-/quality/lightest/" alt="{{honey.name}}'s Brand"/></a></td>
              <td class="h_font">{{honey.name}}</td>
              <td class="h_font">
                  <a href="{% url 'minus_from_cart' id=id %}"><i class="fas fa-minus mr-2"></i></a> 
                  {{honey.quantity}}
                  <a href="{% url 'add_to_cart' id=id %}"><i class="fas fa-plus ml-2"></i>
              </td>
              <td class="h_font">${{honey.price}}</td>
              <td class="h_font">${{honey.total_price|floatformat:2}}</td>
              <td><a href="{% url 'delete_from_cart' id=id %}"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            {%endfor%}
            
            <tr>
              <td class="h_total">Grand Total:</td>
              <td colspan="3"></td>
              <td class="h_total grand">SGD ${{grand_total_price|floatformat:2}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
    </div>
    <form method='GET' action="{% url 'charge' %}">
      <input type='number' name='amount' class='form-control' value="{{grand_total_price}}" style="display:none;" />
      <a class="btn btn-success btnSC shopping" id="shopping" href="{% url 'show_products' %}"><i class="fas fa-shopping-cart"></i></i> BACK TO SHOP</a>
      <button><a class="btn btn-warning btnSC checkout" id="checkout"><i class="fas fa-money-bill-alt"></i> Checkout</a></button>
    </form>
    </section>
</div>




{% endblock %}
